img{
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 8px;
}.container{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    border-radius: 10px;

    box-shadow: 0 2px 7px 2px rgba(25, 25, 25, 0.156);

    background-color: var(--color1);
    color: var(--color2);

    transition: transform 0.3s ease;

    &:hover{
        transform: scale(1.05);
    }
}