#about{
    background-color: var(--color3);
    color: var(--color2);
    position: relative;
}#about p{
    text-align: justify;
    display: flex;
    max-width: 100%;
}#descriptionWraper{
    display: flex;
    gap: 2rem;
    padding: 3rem 0;
}



#about .onda-path {
  fill: var(--color3); 
}


@media (max-width: 768px) {
  #descriptionWraper{
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
  }
}